
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kristi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 1);
}
body{
  /* background-color: rgba(34, 34, 34, 1); */
  background-color: rgba(29, 25, 28, 1);
}
a{
  text-decoration: none;
}
ul,ol,li{
  list-style: none;
}


/* Шапка========================================================================= */
.wrapper{
  min-height: 500px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.container{
	max-width: 1280px;
	margin: 0px auto;
}
.header{
  background-color: rgba(28, 28, 30, 1);
  box-shadow: 0px 3px 60px #000;
}
.header_row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.search{
  margin: 0 18px;
  padding: 0px 10px;
  width: 400px;
  height: 40px;
  background-color: rgba(90, 14, 66, 0.5);
  font-style: 1.1vw;
  color: #ffffff;
  background-image: url('images/GGlas.png');
  background-position: 370px 10px;
  background-repeat: no-repeat;
  border-radius: 5px;
  border: 1px solid #ffffff;
}
.search:focus{
  border-radius: 5px;
}
::placeholder {
  color: #ffffff;
  font-style: 40px;
}
.header_logo{
  font-size: 35px;
  font-family: 'Italiana', serif;
}
.header_logo a:hover{
  /* color: rgba(208, 208, 208, 1); */
  transition: 0.1s;
  text-shadow: 0px 0px 3px rgba(112, 0, 255, 0.74);
}
.header_list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
}
.header_list a{
  font-size: 25px;
  font-family: 'Kristi', serif;
}
.header_list a:hover{
  transition: 0.1s;
  text-shadow: 0px 0px 3px rgba(112, 0, 255, 0.74);
}


/* Контент========================================================================= */
.content{
  margin-top: 20px;
}
.content_row{
  display: flex;
  justify-content: space-between;
  /* background-color: rgba(45, 90, 220, 0.5); */
}
.side-bar{
  background-color: rgba(51, 51, 51, 1);
  flex: 0 0 240px;
  height: 630px;
}
.side-bar_row{
  height: 630px;
  /* width: 240px; */
  flex: 0 0 240px;
  display: flex;
  flex-direction: column;
}
.side-bar_row p{
    border-bottom: 1px solid rgba(17, 17, 17, 1);
    height: 42px;
    padding: 10px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}
.side-bar_row h2{
    font-size: 20px;
    width: 240px;
    height: 42px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
    font-family: 'Italiana', serif;
    background-color: rgba(141, 32, 107, 1)
}
.side-bar_buton{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  overflow: hidden;;
  position: relative;
  transition: 2s;
}
.side-bar_buton::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(141, 59, 128, 0.30);
  top: 1px;
  left: -100%;
  opacity: .5;
  z-index: 20;
  transition: .5s;
}
.side-bar_buton:hover::before{
  left: 0;
  transition: .3s;
}
.colum_container{
  display: flex;
  width: 1020px;
  flex-direction: column;
}
.manga{
  /* width: 1020px; */
  display: flex;
  flex: 0 0 1020px;

  /* background-color: white; */
}
.manga_row{
  display: flex;
  flex: 0 0 1020px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.manga_conteiner{
  display: flex;
  flex-direction: column;
  width: 195px;
  height: 320px;
  background-color: red;
  /* margin-bottom: 10px; */
  cursor: pointer;
  font-family: 'Open+Sans', serif;
  position:relative;
}
.manga_conteiner:hover .manga_info{
  display: flex;
}
.manga_conteiner:hover .manga_name{
  transition: 0.2s;
  /* background-color: rgba(34, 32, 32, 1); */
    background-color: #2A2A2A;
}
.manga_image{
  display: flex;
  height: 255px;
}
.manga_image_row{
  display: flex;
  flex: 0 0 195px;
}
.manga_image_row img{
  width: 100%;
}
.manga_info{
  display: none;
  padding-left: 5px;
  height: 255px;
  border: 2px solid #000000;
  position:absolute;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(14, 1, 13, 0.7) ;
}
.manga_name{
  padding: 10px;
  font-size: 20px;
  height: 65px;
  background-color: #333333;
}
.navbar_row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 635px;
  margin-bottom: 18px;
}
.navbar_row a{
  background-color: #333333;
  display: flex;
  justify-content: center;
  width: 36px;
  height: 36px;
  align-items: center;
}
.navbar_row a:hover{
  background-color: #2A2A2A;
}

/* Скроллбар=============================================================================================== */

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 15px;
  border: 3px solid #000;
}
